{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stark Private Limited</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel = "icon" href ="{% static 'img/2.png' %}" type = "image/x-icon"> 
              
</head>

<body>
    <div class="container">
    <div class="banner">
    <h1 id="title">
        Stark Private Limited
    </h1>
    </div>
    <div class="menu">
        <div class="menuitem"><a class="a" href="/home">Home</a></div> 
        <div class="menuitem"><a class="a" href="/products">Products</a></div> 
        <div class="menuitem"><a class="a" href="/people">People</a></div>
        <div class="menuitem"><a href="/contact">Contact Us</a></div> 
    </div><div class="content">
    {% block content %}    
    {% endblock  %}
    </div>
    <div class="footer">
        Copyright © 2021 Stark Private Limited, Developed by Ragav.
    </div>
    </div>
</body>

</html>